.particules
{
    background: no-repeat center center;
    background-image: url(./accelerateur1.png);
    background-size: cover;
    min-height: 250px;
}
.galettes
{
    background: no-repeat center center;
    background-image: url(./galette.jpeg);
    background-size: cover;
    min-height: 250px;
}
.marabou
{
    background: no-repeat center center;
    background-image: url(./magnetiseur.jpg);
    background-size: cover;
    min-height: 250px;
}
.contrebasse
{
    background: no-repeat center center;
    background-image: url(./contrebasse1.jpeg);
    background-size: cover;
    min-height: 250px;
}
@font-face
{
    font-family:"blackops";
    src: url("blackopsfont.woff")
}
.fontblackops
{
    font-family:"blackops";
}